#Exercises {
    @import '~react-sortable-tree/style.css';

    .new-exercise {
        background-color: greenyellow;
    }

    .removed-exercise {
        background-color: red;
    }

    .moved-exercise {
        background-color: yellow;
    }
}